
<h3>@Model[0].Name</h3>

<ul>
    @foreach(Worker worker in Model)
    {
        <li>@worker.Name</li>
    }
</ul>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Indirizzo</th>
        <th scope="col">Codice Fiscale</th>
        <th scope="col">Sposato</th>
        <th scope="col">Totale Figli</th>
        <th scope="col">Posizione Lavorativa</th>
    </tr>
    </thead>
    <tbody>
        @foreach (Worker worker in StaticDB.Workers)
        {
            <tr>
                <td>@worker.Id</td>
                <td>@worker.Name</td>
                <td>@worker.LastName</td>
                <td>@worker.Address</td>
                <td>@worker.FiscalCode</td>
                <td>@worker.IsMarried</td>
                <td>@worker.HowManyChildren</td>
                <td>@worker.Position</td>
                </tr>
        }
    </tbody>
</table>

<a asp-controller="Workers" asp-action="RegisterWorker">Aggiungi un nuovo dipendente...</a>